@import "tailwindcss";
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-delay {
  animation: scroll 10s linear infinite;
  animation-delay: 1s;
}
